.sidebar{
display:flex;
flex-direction: column;
overflow:scroll;
height: 900px;;


}
.compose__btn{
padding: 10px 20px !important;
border-radius: 40px !important;
margin-top:20px !important;
box-shadow:2px 2px 3px #ccc !important;
margin-bottom: 20px !important;
margin-left:10px;  
max-width: 150px;
}