.sidebar_option{
    display:flex;
    height: 15;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
    padding:0px 25px;
    margin-right:20px;
}
.sidebar_option svg{

color:rgb(94,94,94);
font-size:20px;
width:20px;

}
.sidebar_option p{

    opacity:1;
    font-size:12px;
    color:rgb(94,94,94);

    
    }
    .sidebar_option h1{
       flex:1;
        margin-left: 10px;
        font-size:14px;
        font-weight: normal;
        
        }

        .sidebar_option:hover{
         cursor: pointer;
            background-color: whitesmoke;
             }
     
     


        .sidebar--active{
            background-color:#fce8e6;
        }

        .sidebar--active h1,
        .sidebar--active p,
       .sidebar--active svg{
color:red;
font-weight: bold;

                     }